<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="${cacheClassName}"/>

#end

#if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            #foreach($field in ${table.commonFields})
                ${field.columnName},
            #end
            ${table.fieldNames}
    </sql>

#end
    
#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#end
    </resultMap>

#end

    <sql id="where">
        <where>
    #foreach($field in $table.fields)
        #if($field.propertyType=='String')
            <if test='$field.propertyName != null and ${field.propertyName.trim()}.toString() != "" '>and `$field.name` = #{$field.propertyName}</if>
        #else
            <if test='$field.propertyName != null '>and `$field.name` = #{$field.propertyName}</if>
        #end
    #end
        </where>
    </sql>

    <sql id="columnsNotNull">
        <trim suffixOverrides=",">
        #foreach($field in $table.fields)
            <if test="$field.propertyName != null">`$field.name`,</if>
        #end
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">
        #foreach($field in $table.fields)
            <if test="$field.propertyName != null">#{$field.propertyName},</if>
        #end
        </trim>
    </sql>
    
    <sql id="set">
        <set>
    #foreach($field in $table.fields)
        #if(!$field.keyFlag)
            <if test="$field.propertyName != null">`$field.name` = #{$field.propertyName},</if>
        #end
    #end
        </set>
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from $table.name where id = #{value}
    </select>

    <insert id="insert" parameterType="${package.Entity}.${entity}" useGeneratedKeys="true" keyProperty="id">
        insert into $table.name
        (<include refid="columnsNotNull"></include>)
        values (<include refid="value"></include>)
    </insert>

    <update id="update" parameterType="${package.Entity}.${entity}">
        update $table.name
        <include refid="set"></include>
        where `id` = #{id}
    </update>

    <delete id="delete">
        delete from $table.name where `id` = #{value}
    </delete>
    
</mapper>
